
.todoApp{
    width:500px;
    margin-left:auto;
    margin-right:auto;
    background-color:pink;
    
}
.todoApp .header{
    font-family:Verdana;
    font-size:40px;
    text-align:center;
    color:Orange;
}
.todoApp .card{
    font-family:Magneto;
    font-size:40px;
    width:98%;
    height:50px;
    color:black;
    border:3px solid darkblue;
    margin:3px;
    border-radius:10px;
    text-align:center;
}
.close{
    float:right;
    font-size:10px;
    font-weight:bold;
    color:white;
    background:black;
}
.input{
    width:98%;
    height:30px;
    text-align:center;
    font-size:25px;
}